/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body style */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Navbar container */
  .navbar {
    background-color: rgb(215, 214, 214);
    padding-left: 5vw;
    text-align: center;
    display: flex;
    justify-content: baseline;
    padding-top: 2vh;
  }
  .btn{
  height: 5vh;
  width: 5vw;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .logo{
    height: 80px;
    width: 100px;
  }
  ul {
    gap: 120px;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar-item a:hover {
    color: #4CAF50;  /* Hover color */
  }
  
  /* Specific style for the Sign In button */
  .signin {
    font-weight: bold;
    color: #ff9900;
  }
  
  .signin:hover {
    color: #fff;
    background-color: #ff9900;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .backimg{
     height: 530px;
     width: 1500px;
  }
  .back{
    margin-top: 30px;
  }
  .des{
    margin-top: 30px;
    margin-left: 30px;
  }
  .des1{
   margin-left: 550px;
   margin-top: 50px;
  }
  /*card*/
 .cards{
  margin-top: 60px;
  display: flex;
  gap: 160px;
  margin-bottom: 40px;
 } 
 .hidden{
  display: none;
 }
.pcard{
  height:493px;
  width: 350px;
  border: 2px solid black;
  border-radius: 15px;
  margin-left: 30px;
 
}
.pimg{
  height: 230px;
  width: 330px;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 10px;
}
.text{
  margin-top: 5px;
  margin-left: 10px;
  font-family:Arial, Helvetica, sans-serif;
}
.btn{
  margin-top: 30px;
  margin-left: 100px;
  padding: 10px;
  border-radius: 10px;
  font-size:larger;
  font-weight: 200;
  background-color: rgb(56, 56, 129);
  color: white;
}

/*FAQ*/
.faq-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 0px;
}

.faq-category {
  margin-bottom: 20px;
}

.faq-category h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.faq-item h3 {
  font-size: 1.2rem;
  color: #007BFF;
  cursor: pointer;
}

.faq-item p {
  padding: 5px 0;
  color: #555;
}
/*footer*/
.foot ul {
  display: flex;
  list-style: none;
}
.foot1 ul {
  display: flex;
  list-style: none;
}
footer{
  background-color: rgb(215, 214, 214);
  padding: 50px;
}
.f{
  margin-left: 380px;
  
}
.t{
  margin-left: 240px;
  margin-bottom: 30px;
}
.t1{
  margin-left: 240px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.t2{
  margin-left: 240px;
  margin-bottom: 30px;
  margin-top: 50px;
}
