<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book appointment</title>
</head>
<body>
  <h1>Book appointment</h1>
  <form action="/send-confirmation" method="POST">
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email Address:</label>
    <input type="phone" id="phone" name="phone" required><br><br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required><br><br>

    <label for="problem">Problem:</label>
    <textarea id="problem" name="problem" rows="5" required></textarea><br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
